/* You can add global styles to this file, and also import other style files */
body{
    margin: auto;
    font-family: "apercu",sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #202121;
    background: #edefee;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}